<div class="sidebar @(IsOpen ? "" : "hidden")">
    <aside id="logo-sidebar" class="fixed top-0 left-0 z-0 w-64 h-screen pt-20 transition-transform  @(IsOpen ? "translate-x-full" : "translate-x-0")) bg-white border-r border-gray-200 sm:translate-x-0" aria-label="Sidebar">
        <div class="h-full flex flex-col justify-between px-3 pb-4 overflow-y-auto bg-white">
            <ul class="space-y-2">
                <li>
                    <a href="/Dashboard" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.5 10.5L12.5 13.5L10.5 11.5L7.5 14.5" stroke="#33363F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M14 5H7.2C6.07989 5 5.51984 5 5.09202 5.21799C4.71569 5.40973 4.40973 5.71569 4.21799 6.09202C4 6.51984 4 7.07989 4 8.2V16.8C4 17.9201 4 18.4802 4.21799 18.908C4.40973 19.2843 4.71569 19.5903 5.09202 19.782C5.51984 20 6.07989 20 7.2 20H15.8C16.9201 20 17.4802 20 17.908 19.782C18.2843 19.5903 18.5903 19.2843 18.782 18.908C19 18.4802 19 17.9201 19 16.8V10" stroke="#33363F" stroke-width="2" stroke-linecap="round" />
                            <circle cx="19" cy="5" r="2" fill="#33363F" />
                        </svg>
                        <span class="ms-3">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/Tcp" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 6.5H13M11 18H13M6 13L6 11M18 13V11M5 8H7C7.55228 8 8 7.55228 8 7V5C8 4.44772 7.55228 4 7 4H5C4.44772 4 4 4.44772 4 5V7C4 7.55228 4.44772 8 5 8ZM5 20H7C7.55228 20 8 19.5523 8 19V17C8 16.4477 7.55228 16 7 16H5C4.44772 16 4 16.4477 4 17V19C4 19.5523 4.44772 20 5 20ZM17 20H19C19.5523 20 20 19.5523 20 19V17C20 16.4477 19.5523 16 19 16H17C16.4477 16 16 16.4477 16 17V19C16 19.5523 16.4477 20 17 20ZM17 8H19C19.5523 8 20 7.55228 20 7V5C20 4.44772 19.5523 4 19 4H17C16.4477 4 16 4.44772 16 5V7C16 7.55228 16.4477 8 17 8Z" stroke="#383838" style="stroke:#383838;stroke:color(display-p3 0.2208 0.2208 0.2208);stroke-opacity:1;" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span class="flex-1 ms-3 whitespace-nowrap">Tcp</span>
                    </a>
                </li>
                <li>
                    <a href="/Udp" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 6.5H13M11 18H13M6 13L6 11M18 13V11M5 8H7C7.55228 8 8 7.55228 8 7V5C8 4.44772 7.55228 4 7 4H5C4.44772 4 4 4.44772 4 5V7C4 7.55228 4.44772 8 5 8ZM5 20H7C7.55228 20 8 19.5523 8 19V17C8 16.4477 7.55228 16 7 16H5C4.44772 16 4 16.4477 4 17V19C4 19.5523 4.44772 20 5 20ZM17 20H19C19.5523 20 20 19.5523 20 19V17C20 16.4477 19.5523 16 19 16H17C16.4477 16 16 16.4477 16 17V19C16 19.5523 16.4477 20 17 20ZM17 8H19C19.5523 8 20 7.55228 20 7V5C20 4.44772 19.5523 4 19 4H17C16.4477 4 16 4.44772 16 5V7C16 7.55228 16.4477 8 17 8Z" stroke="#383838" style="stroke:#383838;stroke:color(display-p3 0.2208 0.2208 0.2208);stroke-opacity:1;" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span class="flex-1 ms-3 whitespace-nowrap">Udp</span>
                    </a>
                </li>
                <li>
                    <a href="/System" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 6.5H13M11 18H13M6 13L6 11M18 13V11M5 8H7C7.55228 8 8 7.55228 8 7V5C8 4.44772 7.55228 4 7 4H5C4.44772 4 4 4.44772 4 5V7C4 7.55228 4.44772 8 5 8ZM5 20H7C7.55228 20 8 19.5523 8 19V17C8 16.4477 7.55228 16 7 16H5C4.44772 16 4 16.4477 4 17V19C4 19.5523 4.44772 20 5 20ZM17 20H19C19.5523 20 20 19.5523 20 19V17C20 16.4477 19.5523 16 19 16H17C16.4477 16 16 16.4477 16 17V19C16 19.5523 16.4477 20 17 20ZM17 8H19C19.5523 8 20 7.55228 20 7V5C20 4.44772 19.5523 4 19 4H17C16.4477 4 16 4.44772 16 5V7C16 7.55228 16.4477 8 17 8Z" stroke="#383838" style="stroke:#383838;stroke:color(display-p3 0.2208 0.2208 0.2208);stroke-opacity:1;" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span class="flex-1 ms-3 whitespace-nowrap">System</span>
                    </a>
                </li>
                <li>
                    <a href="/SnmpStats" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 6.5H13M11 18H13M6 13L6 11M18 13V11M5 8H7C7.55228 8 8 7.55228 8 7V5C8 4.44772 7.55228 4 7 4H5C4.44772 4 4 4.44772 4 5V7C4 7.55228 4.44772 8 5 8ZM5 20H7C7.55228 20 8 19.5523 8 19V17C8 16.4477 7.55228 16 7 16H5C4.44772 16 4 16.4477 4 17V19C4 19.5523 4.44772 20 5 20ZM17 20H19C19.5523 20 20 19.5523 20 19V17C20 16.4477 19.5523 16 19 16H17C16.4477 16 16 16.4477 16 17V19C16 19.5523 16.4477 20 17 20ZM17 8H19C19.5523 8 20 7.55228 20 7V5C20 4.44772 19.5523 4 19 4H17C16.4477 4 16 4.44772 16 5V7C16 7.55228 16.4477 8 17 8Z" stroke="#383838" style="stroke:#383838;stroke:color(display-p3 0.2208 0.2208 0.2208);stroke-opacity:1;" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span class="flex-1 ms-3 whitespace-nowrap">SnmpStats</span>
                    </a>
                </li>
                <li>
                    <a href="/Ip" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 6.5H13M11 18H13M6 13L6 11M18 13V11M5 8H7C7.55228 8 8 7.55228 8 7V5C8 4.44772 7.55228 4 7 4H5C4.44772 4 4 4.44772 4 5V7C4 7.55228 4.44772 8 5 8ZM5 20H7C7.55228 20 8 19.5523 8 19V17C8 16.4477 7.55228 16 7 16H5C4.44772 16 4 16.4477 4 17V19C4 19.5523 4.44772 20 5 20ZM17 20H19C19.5523 20 20 19.5523 20 19V17C20 16.4477 19.5523 16 19 16H17C16.4477 16 16 16.4477 16 17V19C16 19.5523 16.4477 20 17 20ZM17 8H19C19.5523 8 20 7.55228 20 7V5C20 4.44772 19.5523 4 19 4H17C16.4477 4 16 4.44772 16 5V7C16 7.55228 16.4477 8 17 8Z" stroke="#383838" style="stroke:#383838;stroke:color(display-p3 0.2208 0.2208 0.2208);stroke-opacity:1;" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span class="flex-1 ms-3 whitespace-nowrap">Ip</span>
                    </a>
                </li>
                <li>
                    <a href="/Interface" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 6.5H13M11 18H13M6 13L6 11M18 13V11M5 8H7C7.55228 8 8 7.55228 8 7V5C8 4.44772 7.55228 4 7 4H5C4.44772 4 4 4.44772 4 5V7C4 7.55228 4.44772 8 5 8ZM5 20H7C7.55228 20 8 19.5523 8 19V17C8 16.4477 7.55228 16 7 16H5C4.44772 16 4 16.4477 4 17V19C4 19.5523 4.44772 20 5 20ZM17 20H19C19.5523 20 20 19.5523 20 19V17C20 16.4477 19.5523 16 19 16H17C16.4477 16 16 16.4477 16 17V19C16 19.5523 16.4477 20 17 20ZM17 8H19C19.5523 8 20 7.55228 20 7V5C20 4.44772 19.5523 4 19 4H17C16.4477 4 16 4.44772 16 5V7C16 7.55228 16.4477 8 17 8Z" stroke="#383838" style="stroke:#383838;stroke:color(display-p3 0.2208 0.2208 0.2208);stroke-opacity:1;" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span class="flex-1 ms-3 whitespace-nowrap">Interface</span>
                    </a>
                </li>
                <li>
                    <a href="/Icmp" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 6.5H13M11 18H13M6 13L6 11M18 13V11M5 8H7C7.55228 8 8 7.55228 8 7V5C8 4.44772 7.55228 4 7 4H5C4.44772 4 4 4.44772 4 5V7C4 7.55228 4.44772 8 5 8ZM5 20H7C7.55228 20 8 19.5523 8 19V17C8 16.4477 7.55228 16 7 16H5C4.44772 16 4 16.4477 4 17V19C4 19.5523 4.44772 20 5 20ZM17 20H19C19.5523 20 20 19.5523 20 19V17C20 16.4477 19.5523 16 19 16H17C16.4477 16 16 16.4477 16 17V19C16 19.5523 16.4477 20 17 20ZM17 8H19C19.5523 8 20 7.55228 20 7V5C20 4.44772 19.5523 4 19 4H17C16.4477 4 16 4.44772 16 5V7C16 7.55228 16.4477 8 17 8Z" stroke="#383838" style="stroke:#383838;stroke:color(display-p3 0.2208 0.2208 0.2208);stroke-opacity:1;" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span class="flex-1 ms-3 whitespace-nowrap">Icmp</span>
                    </a>
                </li>
                <li>
                    <a href="/Egp" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 6.5H13M11 18H13M6 13L6 11M18 13V11M5 8H7C7.55228 8 8 7.55228 8 7V5C8 4.44772 7.55228 4 7 4H5C4.44772 4 4 4.44772 4 5V7C4 7.55228 4.44772 8 5 8ZM5 20H7C7.55228 20 8 19.5523 8 19V17C8 16.4477 7.55228 16 7 16H5C4.44772 16 4 16.4477 4 17V19C4 19.5523 4.44772 20 5 20ZM17 20H19C19.5523 20 20 19.5523 20 19V17C20 16.4477 19.5523 16 19 16H17C16.4477 16 16 16.4477 16 17V19C16 19.5523 16.4477 20 17 20ZM17 8H19C19.5523 8 20 7.55228 20 7V5C20 4.44772 19.5523 4 19 4H17C16.4477 4 16 4.44772 16 5V7C16 7.55228 16.4477 8 17 8Z" stroke="#383838" style="stroke:#383838;stroke:color(display-p3 0.2208 0.2208 0.2208);stroke-opacity:1;" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span class="flex-1 ms-3 whitespace-nowrap">Egp</span>
                    </a>
                </li>
                <li>
                    <a href="/EgpComm" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 6.5H13M11 18H13M6 13L6 11M18 13V11M5 8H7C7.55228 8 8 7.55228 8 7V5C8 4.44772 7.55228 4 7 4H5C4.44772 4 4 4.44772 4 5V7C4 7.55228 4.44772 8 5 8ZM5 20H7C7.55228 20 8 19.5523 8 19V17C8 16.4477 7.55228 16 7 16H5C4.44772 16 4 16.4477 4 17V19C4 19.5523 4.44772 20 5 20ZM17 20H19C19.5523 20 20 19.5523 20 19V17C20 16.4477 19.5523 16 19 16H17C16.4477 16 16 16.4477 16 17V19C16 19.5523 16.4477 20 17 20ZM17 8H19C19.5523 8 20 7.55228 20 7V5C20 4.44772 19.5523 4 19 4H17C16.4477 4 16 4.44772 16 5V7C16 7.55228 16.4477 8 17 8Z" stroke="#383838" style="stroke:#383838;stroke:color(display-p3 0.2208 0.2208 0.2208);stroke-opacity:1;" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span class="flex-1 ms-3 whitespace-nowrap">EgpComm</span>
                    </a>
                </li>
                <li>
                    <a href="/EgpAT" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 6.5H13M11 18H13M6 13L6 11M18 13V11M5 8H7C7.55228 8 8 7.55228 8 7V5C8 4.44772 7.55228 4 7 4H5C4.44772 4 4 4.44772 4 5V7C4 7.55228 4.44772 8 5 8ZM5 20H7C7.55228 20 8 19.5523 8 19V17C8 16.4477 7.55228 16 7 16H5C4.44772 16 4 16.4477 4 17V19C4 19.5523 4.44772 20 5 20ZM17 20H19C19.5523 20 20 19.5523 20 19V17C20 16.4477 19.5523 16 19 16H17C16.4477 16 16 16.4477 16 17V19C16 19.5523 16.4477 20 17 20ZM17 8H19C19.5523 8 20 7.55228 20 7V5C20 4.44772 19.5523 4 19 4H17C16.4477 4 16 4.44772 16 5V7C16 7.55228 16.4477 8 17 8Z" stroke="#383838" style="stroke:#383838;stroke:color(display-p3 0.2208 0.2208 0.2208);stroke-opacity:1;" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span class="flex-1 ms-3 whitespace-nowrap">EgpAT</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
</div>

@code {
    [Parameter]
    public bool IsOpen { get; set; }

}