@page "/"
@layout MainLayout
<PageTitle>Home</PageTitle>
@code {
    
}
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeFlowbite");
        }
    }
}

<div class="p-5 mt-10">
    <div class="">
        <div class="p-5 w-full">
            <TooltipChart></TooltipChart>
        </div>
        <div class="grid grid-cols-4 gap-4">
        </div>
    </div>
</div>
