@page "/EgpComm"
@layout MainLayout

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeFlowbite");
        }
    }
}

<div class="p-5 mt-10">
    <div>
        <EgpCommColumnChart></EgpCommColumnChart>
    </div>
</div>
